body {
    margin: 0;
}

.header{
    color: #F9FAF8;
    background-color: #1F2937;
}

.hcontent{
    display: flex;
    flex-wrap: wrap;
}

.main{
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hcontainer{
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
    padding: 10px;
}

.hlink {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hlogo {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {

}

button {
    color: #ffffff;
    background-color: #3882F6;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.infocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontainer {
    display: flex;
    justify-content: center;
}

.subcontaineritem {
    margin: 10px; 
    flex-wrap: wrap;
}

.img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

div.quote1 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
}

.quote2 {
    display: flex;
    justify-content: right;
}

.quote {
    margin-top: 0px;
    margin-bottom: 0px;
}

.rightalign {
    text-align: right;
}