body {
    margin: 0;
}

.header{
    color: #F9FAF8;
    background-color: #1F2937;
}

.hcontent{
    display: flex;
    flex-wrap: wrap;
}

.main{
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hcontainer{
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
    padding: 10px;
}

.hlink {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hlogo {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {

}

button {
    color: #ffffff;
    background-color: #3882F6;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

div .quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}